@import "tailwindcss";

@theme {
  --color-brand-blue: #1857b6;
  --color-brand-blue-dark: #123f85;
  --color-brand-orange: #f7941d;
  --color-brand-orange-dark: #d97e0c;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
